.wrapper {
  display: flex;
  align-items: flex-end;
  padding: 5px;

  .column {
    min-width: 100px;
    max-width: 150px;
    margin-left: 5px;
  }

  .operator {
    min-width: 100px;
    max-width: 150px;
  }

  .value {
    flex-grow: 1;
  }
}
